@CHARSET "UTF-8";


ul#foot {
  
   width: 100%;
    overflow:hidden;
  position:fixed static;
 margin: 0 auto;
    bottom: 0;
    right:0px;
    left:0px;
    width:auto;
	height:50px;
    background-color: #28b9a7;
}

ul#foot li {
    display: inline;
      height: 30px;
    line-height: 30px;
}

ul#foot li a {
    background-color: #28b9a7;
    color: white;
    top:10px;
    padding: 0px 10px;
    text-decoration: none;
     vertical-align: middle;
    text-align: center;
}

ul#foot li a:hover {
    background-color: #35caca;
}


