@CHARSET "UTF-8";


ul#bkgmenu{
    position:fixed;
    margin:0; 
    top:0px;
    right:0px;
    left:0px;
    width:auto;
	height:61px;
    background-color: #28b9a7;
}

ul#menu {
  
    position:fixed;
    margin:0; 
    top:10px;
    right:0px;
    left:0px;
    width:auto;
	height:50px;
    background-color:  transparent ; /* #28b9a7 */
    
}

ul#menu li {
    display: inline;
      height: 10px;
    line-height: 10px;
}

ul#menu li a {
    background-color: #28b9a7;
    color: white;
    padding: 30px 30px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
     vertical-align: center;
    text-align: center;
}

ul#menu li a:hover {
    background-color: #35caca;
}


