body {
	background-color: #f0f0f0; <!-- # f4f4f4; -->
	color: #5a5656;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

/*---------messages---------*/
.ora_mess {
	font-size: 70%;
	color: gray;
}

.img_mess {
	width: 50px;
	height: 50px;
}

.mess_scroll {
	border: 2px solid #ccc;
	width: 300px;
	height: 100px;
	overflow-y: scroll;
}

nav ul {
	background-color: #ffffff;
	border: 2px solid #ccc;
	width: 300px;
	height: 100px;
}

.test1 {
	background-color: #ffffff;
	border: 2px solid #ccc;
	width: 300px;
	height: 100px;
	overflow: hidden;
	overflow-y: scroll;
}

.test {
	overflow: hidden;
	overflow-y: scroll;
}

/*--------nav bar------------*/
nav {
	top: 0;
	background-color: #c3dfef;
	/*opacity: 0.8;*/
	height: 40px;
}



li {
	list-style-type: none;
}

.rect {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #c3dfef;
	left: 0;
	right: 0;
	vertical-align: top;
	opacity: 0.8;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 1em;
}

h1, p {
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.roundrect {
	border-radius: 15px;
}